# Introduction to DBMS and SQL

# SQL is Mandotary in the world of Data Science. There is no exception in using SQL.

# DBMS (Data Base Management Systems).
# SQL (Structured Query Language).

# ETL - (export,transform,load) tools.

# ----What is Database?

In [35]:
# Database in nothing but which helps us in stroing the Data in form of a table. 
# A table is something that consists of different columns and we can store the data in the form of rows. 
# We can store this data in form of multiple tables.
# "Management systems" is nothing but the managing the data in Data base either by:
   #--creating the tables.
   #--insert data in to table.
   #--update the data.
# "Data Manaagement" is done with the help of "SQL".

In [36]:
# In any organization depending on the functionality of the organization the data is stored in form of multiple tables.
# When there is need of data from different tables:
       # we can build a relation between tables and extract the information.
       # This can be done with the help of "Joins".
       # "Joins" help us build the relationship between the tables.

# Dimension table.

In [37]:
# Dimension tables are the ones which have the actual data (for ex - customer id, customer and customer adress etc;)

# Fact table.

In [38]:
# Fact tables are something which have a relation with the dimesnion tables(for ex - Tranactions made by customers).

# ER diagram.

In [39]:
# "Entity Relationship" diagram.
# ER diagram is the architecture of the data set provided.(different tables,relation between the tables,how to join tables etc;)
# called "Er" because it have different entities related to data.

In [40]:
# If there is a null value in the data. It means there is no data present.
# If there is an empty space. It means data is present in form of something and data is occupied.

# Schema

In [41]:
# Schema describes the structure and organization of data in a database system.

# Data tyes

In [42]:
# String , Numerical, Date and time, char, varchar, int, bool etc;

# --------Keys--------

# Primary key

In [43]:
# A primary key is something that is used to identify a unique value. Primary key do not have duplicate values. 
# We cannot enter duplicate values in to a column that is called a primary key.
# Examples are Aadhar card, ssn, pan card number etc;

# Foreign key

In [44]:
# Foriegn key is something that is created in a table which refers to primary key of another table.
# This key allows the values that are only present in the primary key table. 
# Foriegn key can have duplicates. only constarint is it should be present in the primary key table.
# we can have multiple foriegn keys referring to primary keys in different tables each.
# Foreign key is the reference of primary key in a different table.

# Composite key

In [45]:
# Multiple primary keys together is called a composite key.

# super key

In [46]:
# when a primary key is not available, there will be attributes to identify a unique value.
# That unique value is called a super key.

# Candidate key

In [55]:
# The minimum number of columns that help to identify a unique value is a candiate key.

# Meanings of symbols in Er diagram.

In [48]:
# See the video for clear understanding. bookmarked as symbol meanings in ER diagrams.

# SQL Commands

In [49]:
# DDL - Data Definition language.
# DML - Data manipulation language.
# DCL - Data control language
# TCL - Transaction control language.
# DQL - Data query language.

# -----#####

# In SQL always use the column names in the queries rather than the (*) symbol.

In [50]:
# The following concepts are very important from interview point of view.

In [51]:
# Every DBMS systems should maintain the ACID properties
# A - Atomocity
# C - Consistency
# I - Isolation
# D - Durability.

In [53]:
# Rdbms systems can only handle certain limit of data. So the "Big data systems" came in to picture.
# Rdbms are for OLTP (Online Transactional purposes).
# Big data systems are not meant for Transactional purposes.
# Big data systems are only restricted for OLAP (Online analysis process).

In [54]:
# Watch SQL-1 from 2:12 for 20 minutes for the above.